<fieldset>
  <legend>Création ou modification d'un ayant droit</legend>

  <section>
    <label>Rechercher un ayant droit</label><br>
    <input type="text" name="searchText">
    <input type="hidden" [(ngModel)]="rightHolder.partnerId" value="5" name="partnerId">
  </section>
  <section>
    <label>Nom</label><br>
    <input [(ngModel)]="rightHolder.lastname" type="text" name="name">
  </section>
  <section>
    <label>Prenom</label><br>
    <input [(ngModel)]="rightHolder.firstname" type="text">
  </section>
  <section>
    <label>Rôle</label><br>
    <select>
      <option *ngFor="let role of roles" value="{{role.roleCode}}">{{role.roleLabel}}</option>
    </select>
  </section>
  <section>
    <button (click)="addRightHolderToStatement()" >Enregistrer</button>
    <button [routerLink]="['/statement',statementId]" routerLinkActive="active">Annuler</button>
  </section>


</fieldset>
