<fieldset>
  <legend>Création ou modification d'un ayant droit</legend>

  <section>
    <label>Rechercher un ayant droit</label><br>
    <input type="text">
  </section>
  <section>
    <label>Nom</label><br>
    <input type="text">
  </section>
  <section>
    <label>Prenom</label><br>
    <input type="text">
  </section>
  <section>
    <label>Rôle</label><br>
    <select>

    </select>
  </section>
  <section>
    <button>Enregistrer</button>
    <button>Annuler</button>
  </section>


</fieldset>
